{{- /*gotype: meowmentum/backend/email/internal/service.DeadlineOneDayAlertProps*/ -}}

<h1>Your task reaches deadline in 1 day!</h1>

<p>
    Hi <b>{{ .Name }}</b>!<br>
    <br>
    Task <a href="{{ .TaskURL }}">{{ .TaskName }}</a> reaches its deadline in 1 day!<br>
</p>
