{{- /*gotype: meowmentum/backend/email/internal/service.PasswordResetProps*/ -}}

<h1>Password reset request</h1>

<p>
    Hi <b>{{ .Name }}</b>, password reset has been initiated for your Meowmentum account<br>
    <br>
    Your password reset code is: <b>{{ .Code }}</b><br>
    <br>
    Do not share this code with anyone. If you didn't request a password reset, please ignore this email.
</p>
