{{- /*gotype: meowmentum/backend/email/internal/service.RegistrationConfirmationProps*/ -}}

<h1>Your Meowmentum registration confirmation code</h1>

<p>
    Hi <b>{{ .Name }}</b>, thanks for signing up to Meowmentum!<br>
    <br>
    Your registration confirmation code is: <b>{{ .Code }}</b><br>
</p>
